.table-of-contents {
  flex: 22 1 22%;
  padding-left: 2%;
  padding-right: 2%;
  background-color: #ddd;
}
.Contents {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
.Contents__trigger {
  display: block;
  background-color: lightskyblue;
  border: 2px solid black;
  border-radius: 5px;
  margin: 4px 2px;
}
.Contents__trigger:hover {
  background-color: #0645ad;
}
.contents-dropdown-icon {
  position: absolute;
  top: 0px;
  right: 5px;
  display: block;
  font-size: 1.5rem;
}
.Contents.open .contents-dropdown-icon {
  transform: rotateZ(180deg);
}
