.section {
  display: flex;
  flex-direction: column;
}
.Collapsible {
  width: 100%;

  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  position: relative;
}
.Collapsible__trigger {
  display: block;
  background-color: lightskyblue;
  padding-bottom: 3px;
  border: 1px solid black;
  border-radius: 5px;
  margin: 3px;
}
.Collapsible__trigger:hover {
  background-color: #0645ad;
}
.section-dropdown-icon {
  position: absolute;
  top: 0px;
  right: 5px;
  display: block;
  font-size: 1.6rem;
}
.Collapsible.open .section-dropdown-icon {
  transform: rotateZ(180deg);
}
